@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ---------------------------------------------Colours */

body {
    background: linear-gradient(#eeaa81, #d2d5d4);
}

.bg-color-name-title {
    background-color: none;
}

.bg-color-three-reasons,
.bg-color-my-skills,
.bg-color-github {
    background-color: #fafafa;
}

#nav {
    border-top-left-radius: 25px;
}

.bg-color-github {
    border-bottom-left-radius: 25px;
}

.bg-color-personal-info {
    background: none;
}

.bg-color-work-history,
.bg-color-education {
    background: none;

}

.ui-menu-color {
    background-color: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.ui-menu-color:hover {
    background-color: #f4d8bf;
    border: solid 2px #f4d8bf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.35s ease-in-out;
}

/* ---------------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

h2.title {
    margin-bottom: 50px;
    margin-left: 0;
}

p,
li {
    font-family: "Robot", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
    padding-top: 1vh;
    height: auto;
}

.section-heading,
.history-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------------------------------Heading */

header {
    margin: 0;
    z-index: 3;
    background-color: none;
}

.heading {
    margin-left: 30px;
    color: #000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 50%;
}

.logo-content {
    background: url("../images/dietke.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 64px;
    margin-top: 50px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
    background-color: #fafafa;
}

#nav li {
    font-size: 16px;
    padding: 0;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuitem {
    height: 6vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuitem a {
    text-decoration: none;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuitem a i {
    display: block;
    color: #fafafa;
    font-size: 22px;
    padding-bottom: 4px;
    transition: color 0.35s ease-in-out;
}

.menuitem span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    transition: color 0.35s ease-in-out;
}

.list-inline {
    padding: 0;
}

.col-4 {
    flex: none;
}

.about-menu {
    border-top-left-radius: 25px;
    border-right: 2px solid #fafafa;
}

.resume-menu {
    border-right: 2px solid #fafafa;
}

.contact-menu {
    border-right: 2px solid #fafafa;
}

/* ---------------------------------------------Hover */

.menu-text {
    color: #000;
}

.menuitem:hover a,
.menuitem:hover a i,
.menuitem:hover span {
    color: #000;
}

/* ---------------------------------------------Main */

/* ---------------------------------------------Three Reasons */

.three-reasons-icon,
.my-skills-icon {
    font-size: 26px;
    color: #e67e22;
    margin-bottom: 20px;
}

.three-reasons-heading,
.my-skills-heading {
    margin-bottom: 15px;
}

.three-reasons-box,
.my-skills-box {
    border: solid 2px #eeaa81;
    border-radius: 25px;
    padding: 1em;
    min-height: 20vh
}

.box-margin-right {
    padding-right: 2em;
}

.box-margin-left {
    padding-left: 1em;
}

.about h3 {
    padding-top: 1em;
}

/* ---------------------------------------------Personal Info */

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .value {
    width: 80%;
}

/* ---------------------------------------------Skills */

.progress {
    position: relative;
    height: 3vh;
    margin-bottom: 5px;
    border-radius: 25px;
}

.progress-type {
    position: absolute;
    left: 0px;
    height: 3vh;
    font-weight: 400;
    font-size: 16px;
    padding: 15px 20px 20px 20px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
    border-radius: 25px;
}

.progress-section {
    margin: 40px 20px;
}

.progress-bar {
    background: #e67e22;
    border-radius: 25px;
}

/* ---------------------------------------------Work History */

.history-heading {
    color: #000;
    margin-bottom: 40px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #000;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #000;
}

.history-items {
    margin-bottom: 30px;
}

/* ---------------------------------------------GitHub Projects */

div.gh-avatar img {
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 3px;
}

input#gh-username {
    border-radius: 25px;
    display: block;
    max-width: 70%;
    background: #fff;
    padding: 4px 20px;
    box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.4);
    color: #666;
    margin-bottom: 15px;
    content: counter(name);
}


#loader {
    display: block;
    width: 200px;
    height: 200px;
}

.small-name {
    font-size: 22px;
    color: #eeaa81;
    font-style: italic;
}

.small-name a {
    font-size: 22px;
    color: #eeaa81;
    font-style: italic;
}

.repo-list ul li {
    display: block;
}

.repo-list ul li a {
    padding: 8px 10px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 25px;
    color: #fafafa;
    background-color: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.repo-list ul li a:hover {
    background-color: #f4d8bf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #000;
}

#gh-user-data {
    display: flex;
    flex-direction: column-reverse
}

#gh-user-data h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#gh-user-data p {
    font-size: 18px;
}

#gh-repo-data p {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 300;
}

.github-data {
    border: 2px solid #eeaa81;
    border-radius: 25px;
    padding: 1em;
}

/* ---------------------------------------------Contact */

.contact-title {
    padding-bottom: 0;
}

.contact-section {
    padding: 0;
    padding-top: 2em;
    background: none;
    color: #000;
}

button.btn-primary {
    height: 4vh;
    background: #000;
    border: #000;
    padding: 0 10vw;
    border-radius: 25px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

button.btn-primary:hover {
    background: #e67e22;
    border: #e67e22;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-button {
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.form-control {
    font-family: "Roboto", sans-serif;
    border-radius: 25px;
    padding: 20px;
}

#name,
#email,
#subject {
    width: 50%;
}

#map iframe {
    border-radius: 25px;
    height: height="window.getComputedStyle(xyzElement).height;";
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 2px solid #e67e22;
    border-radius: 25px;
    width: 100%
}

p.success-message {
    font-size: 20px;
    color: #e67e22;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2em;
}

button.btn-success {
    height: 4vh;
    padding: 0 10vw;
    border-radius: 25px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

/* ---------------------------------------------Footer */

footer {
    background-color: #d2d5d4;
    color: #000;
    margin: 0;
    padding-top: 2em;
}

.cv-pdf i {
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e67e22;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e67e22;
}

#footer-details {
    padding: 20px 0 10px;
}


/* Mobile device adjustment */
@media (max-width: 767px) {
    .row-table {
        display: block;
    }

    .section-column {
        display: block;
    }

    button.btn-primary,
    .form-group,
    #name,
    #email,
    #subject {
        width: 100%;
    }

    .menu-container {
        flex-direction: column;
    }

    .about-menu {
        border-radius: 0;
        border-bottom: 2px solid #fafafa;
        border-right: none;
    }

    .resume-menu {
        border-bottom: 2px solid #fafafa;
        border-right: none;
    }

    .contact-menu {
        border-bottom: 2px solid #fafafa;
        border-right: none;
    }

    .cv-menu {
        border-bottom: 2px solid #fafafa;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-align: center;
    }

    .heading {
        margin-left: 0;
    }

    .col-12 {
        margin-left: 0;
        margin-right: 0;
    }

    .my-skills-box,
    .three-reasons-box,
    #map {
        margin-left: 0.5em;
    }

    .timeline-item {
        margin-left: 2em;
        text-align: center;
        padding-top: 2.5em;
    }

    .timeline-item:before {
        position: unset !important;
    }

    .logo {
        padding-top: 3em;
    }

    .box-margin-right {
        padding-right: 1em;
    }

    .personal-info-item .value {
        width: 60%;
    }

}